body {
  font: {
    family: sans-serif;
    size: 14px;
  }
}
main {
  margin: 40px 0px 60px 0px;
}

// style header
#logo {
  height: 145px;
  padding: 5px;
}
#header-nav {
  height: 150px !important;
}
#nav-mobile {
  padding: 40px 20px 0px 0px;
  a {
    font-size: 20px;
  }
}

// style form
#genders {
  padding-right: 25px;
}

// style footer
.icon {
  i.circle {
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;
  }
  .circle {
    position: relative;
    margin: 30px 30px 30px 0px;
    float: left;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}
#label_news {
  color: white;
}
#button_news {
  margin-top: 20px;
}
